Repository kyletnet/synthetic-text-agents-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, eslint-check, env-validation, docs-consistency, performance-check

Path conditions:
  typescript-check: any of: \.(ts|tsx)$
  eslint-check: any of: \.(ts|tsx|js|jsx)$
  env-validation: any of: \.(ts|js|json|env)$
  docs-consistency: any of: (CHANGELOG\.md|package\.json|README\.md)$
  performance-check: any of: src/.*\.(ts|js)$

feat(quality): OpenAI embedding API 통합 (자동 fallback 지원)
  reports/operations/governance.jsonl
  scripts/lib/contrastive-alignment.ts
  scripts/test-openai-embedding.ts
  test-results/html.meta.json.gz
  test-results/results.json
Due: typescript-check, eslint-check, env-validation

feat(quality): Complete Citation Quality System Integration
  docs/CITATION_POLICY.md
  docs/CITATION_VALIDATION.md
  scripts/agents/answer_agent.ts
  scripts/lib/citation-failure-logger.ts
  scripts/lib/citation-validator.ts
  scripts/lib/contrastive-alignment.ts
  scripts/metrics/__all__.ts
  scripts/metrics/baseline_cli.ts
  scripts/metrics/baseline_report_generator.ts
  scripts/metrics/citation_metrics.ts
  scripts/metrics/threshold_manager.ts
Due: typescript-check, eslint-check, env-validation

chore: Update reports and configuration files
  docs/LLM_IO_CONVENTION.md
  outputs/test-qa-all-valid-citations.jsonl
  outputs/test-qa-with-citations.jsonl
  package.json
  reports/baseline_report.jsonl
  reports/baseline_report.md
  reports/operations/governance.jsonl
  reports/session_report.md
  test-results/html.meta.json.gz
  test-results/results.json
  tools/anthropic_client.sh
  tools/git_hygiene.sh
  tools/load_env_v3.sh
Due: env-validation, docs-consistency

chore: bump version to 1.1.2
  CHANGELOG.md
  package.json
  reports/operations/governance.jsonl
  scripts/ship.cjs
  test-results/html.meta.json.gz
  test-results/results.json
Due: env-validation, docs-consistency

refactor: Auto-fix 27 structural improvements
  reports/operations/governance.jsonl
  test-results/html.meta.json.gz
  test-results/results.json
Due: env-validation

docs: Refresh documentation indexes and reports
  apps/fe-web/docs/DECISIONS/INDEX.md
  apps/fe-web/docs/EXPERIMENTS/INDEX.md
  apps/fe-web/docs/RUN_LOGS/INDEX.md
  reports/comprehensive-doc-update-report.json
  reports/operations/governance.jsonl
  test-results/html.meta.json.gz
  test-results/results.json
Due: env-validation

fix: Add timeout and concurrency controls to quality gate workflow
  .github/workflows/unified-quality-gate.yml
Due: none

feat: Add /audit deep inspection command for critical issue detection
  docs/COMMAND_GUIDE.md
  package.json
  scripts/deep-inspection-engine.ts
Due: typescript-check, eslint-check, env-validation, docs-consistency

refactor: Rename /audit to /radar with improved coverage detection
  docs/COMMAND_GUIDE.md
  package.json
  reports/inspection-results.json
  reports/operations/governance.jsonl
  scripts/radar-engine.ts
  test-results/html.meta.json.gz
  test-results/results.json
Due: typescript-check, eslint-check, env-validation, docs-consistency

feat: Integrate /radar into slash command system
  scripts/slash-commands.sh
Due: none

feat: Product readiness - Guard command & Operations guide
  docs/OPERATIONS_QUICKSTART.md
  docs/P0_GAPS_IMMEDIATE_ACTION_PLAN.md
  package.json
  reports/operations/governance.jsonl
  scripts/guard.ts
  test-results/html.meta.json.gz
  test-results/results.json
Due: typescript-check, eslint-check, env-validation, docs-consistency

feat: Implement production-ready validation system
  package.json
  scripts/auto-integration-guard.ts
  scripts/ship-with-progress.sh
  scripts/validate-llm-io.ts
  scripts/validate-unified.ts
Due: typescript-check, eslint-check, env-validation, docs-consistency

feat: Complete Stage 1-2 - Integrity Infrastructure & Quality System
  .github/workflows/gap-weekly-report.yml
  .github/workflows/unified-quality-gate.yml
  .github/workflows/weekly-gap-scan.yml
  .github/workflows/weekly-radar.yml
  docs/CRITICAL_GAPS_ANALYSIS.md
  docs/GOVERNANCE_FLOW.md
  docs/HANDOFF_COMPLETE_GUIDE.md
  docs/OPERATIONS_QUICKSTART.md
  docs/P0_GAPS_IMMEDIATE_ACTION_PLAN.md
  docs/QUALITY_EXTENSION_GUIDE.md
  docs/QUALITY_SYSTEM_ARCHITECTURE.md
  docs/RFC/2024-10-quality-enhancement-approaches.md
  docs/guidelines/qa-generation-guidelines.md
  docs/technical/INTEGRATION_MAP.md
  governance-rules.json
  package.json
  reports/SESSION_HANDOFF_QUALITY_V3.2.md
  reports/STAGE1_COMPLETION_REPORT.md
  reports/alerts/notifications.jsonl
  reports/alerts/unexpectedChange-1759756726322.json
  reports/inspection-results.json
  reports/operations/governance.jsonl
  scripts/explain-governance.ts
  scripts/generate-tool-map.ts
  scripts/guard.ts
  scripts/inspection-engine.ts
  scripts/lib/governance/governance-enforcer.ts
  scripts/lib/governance/governance-logger.ts
  scripts/lib/governance/ledger-schema-validator.ts
  scripts/lib/governance/metric-validator.ts
  scripts/lib/inspection-cache.ts
  scripts/lib/recovery-manager.ts
  scripts/quality/guideline-version-manager.ts
  scripts/quality/phase-state-machine.ts
  scripts/quality/quality-ledger.ts
  scripts/validate-llm-io.ts
  scripts/validate-unified.ts
  test-results/html.meta.json.gz
  test-results/results.json
  tsconfig.build.json
Due: typescript-check, eslint-check, env-validation, docs-consistency

feat: Phase 2 Evidence Alignment Enhancement (Option B)
  .quality-checkpoint.json
  PHASE_2_IMPROVEMENT_REPORT.md
  QUALITY_PROGRESS.md
  scripts/quality/checkers/evidence-aligner.ts
  scripts/quality/debug-alignment.ts
  tests/quality/evidence-aligner.test.ts
Due: typescript-check, eslint-check, env-validation

feat: Phase 3 Hybrid Search Bug Fixes & Gate C Achievement
  .quality-checkpoint.json
  PHASE_3_COMPLETION_REPORT.md
  QUALITY_PROGRESS.md
  scripts/quality/checkers/hybrid-search-checker.ts
  scripts/quality/orchestrator.ts
  tests/quality/hybrid-search-checker.test.ts
Due: typescript-check, eslint-check, env-validation

perf: Optimize git hooks - move heavy checks to pre-push
  reports/operations/governance.jsonl
  scripts/git-hooks/pre-commit-fast
  scripts/git-hooks/pre-push
  test-results/html.meta.json.gz
  test-results/results.json
Due: env-validation

feat: Implement parallel pre-commit hook
  reports/operations/governance.jsonl
  scripts/git-hooks/pre-commit-parallel
  test-results/html.meta.json.gz
  test-results/results.json
Due: env-validation

chore: Update test results and governance reports
  reports/governance/design-feedback.jsonl
  reports/inspection-results.json
  reports/operations/governance.jsonl
  reports/quality-history/health-score-2025-10-08.json
  test-results/html.meta.json.gz
  test-results/results.json
Due: env-validation

feat: Implement Diversity Planner (Domain Service)
  reports/governance/design-feedback.jsonl
  reports/governance/policy-adaptations.jsonl
  reports/governance/prediction-train.jsonl
  reports/inspection-results.json
  reports/operations/governance.jsonl
  reports/quality-history/health-score-2025-10-08.json
  reports/rg/decision.json
  reports/rg/summary.json
  src/domain/agents/diversity-planner.ts
  src/domain/agents/diversity-types.ts
  src/domain/agents/index.ts
  test-results/html.meta.json.gz
  test-results/results.json
  tests/domain/agents/diversity-planner.test.ts
Due: typescript-check, eslint-check, env-validation, performance-check

feat: Add 3-axis stabilization to Diversity Planner
  reports/governance/design-feedback.jsonl
  reports/governance/policy-adaptations.jsonl
  reports/governance/prediction-train.jsonl
  reports/inspection-results.json
  reports/operations/governance.jsonl
  reports/quality-history/health-score-2025-10-08.json
  reports/rg/decision.json
  reports/rg/summary.json
  src/application/agents/diversity-planner-service.ts
  src/application/agents/index.ts
  src/domain/agents/diversity-planner.ts
  src/domain/agents/diversity-types.ts
  test-results/html.meta.json.gz
  test-results/results.json
  tests/domain/agents/diversity-planner.test.ts
Due: typescript-check, eslint-check, env-validation, performance-check

chore: Phase 2B Step 1 baseline snapshot
  reports/baseline-phase2b-step1.json
Due: env-validation

chore: Update test results and governance reports after Phase 2B Step 1
  reports/governance/design-feedback.jsonl
  reports/governance/policy-adaptations.jsonl
  reports/governance/prediction-train.jsonl
  reports/operations/governance.jsonl
  test-results/html.meta.json.gz
  test-results/results.json
Due: env-validation

chore: Phase 2B Step 1 final baseline - Ready for main merge
  reports/baseline-phase2b-step1-final.json
Due: env-validation

chore: Update inspection results and RG artifacts
  reports/governance/design-feedback.jsonl
  reports/inspection-results.json
  reports/operations/governance.jsonl
  reports/quality-history/health-score-2025-10-08.json
  reports/rg/decision.json
  reports/rg/summary.json
  test-results/html.meta.json.gz
  test-results/results.json
Due: env-validation

chore: Final test results before main merge
  reports/governance/design-feedback.jsonl
  reports/operations/governance.jsonl
  test-results/html.meta.json.gz
  test-results/results.json
Due: env-validation

docs: Add Integration Brief for Advanced Quality Enhancement
  docs/RFC/2025-10-integration-brief-quality-enhancement.md
Due: none

feat: Add 3-axis integration stabilization
  configs/quality/feature-matrix.yml
  reports/governance/design-feedback.jsonl
  reports/integration-baseline.json
  reports/operations/governance.jsonl
  src/domain/ports/metrics-port.ts
  test-results/html.meta.json.gz
  test-results/results.json
Due: typescript-check, eslint-check, env-validation, performance-check

feat: Complete Phase 2B Step 2 - Metrics Refactoring (Port/Adapter Pattern)
  reports/governance/design-feedback.jsonl
  reports/governance/policy-adaptations.jsonl
  reports/governance/prediction-train.jsonl
  reports/inspection-results.json
  reports/operations/governance.jsonl
  reports/quality-history/health-score-2025-10-08.json
  reports/rg/decision.json
  reports/rg/summary.json
  src/application/agents/diversity-planner-service.ts
  src/application/metrics/index.ts
  src/application/metrics/metrics-service.ts
  src/domain/ports/index.ts
  src/infrastructure/metrics/file-metrics-adapter.ts
  src/infrastructure/metrics/index.ts
  test-results/html.meta.json.gz
  test-results/results.json
  tests/application/metrics/metrics-adapter.test.ts
Due: typescript-check, eslint-check, env-validation, performance-check

spec: Register Phase 2B Step 3 execution plan
  docs/RFC/2025-10-phase2b-step3-plan.md
Due: none

feat: Phase 2B Step 3 - QA Feedback Loop + Plugin Integration
  configs/quality/feature-matrix.yml
  reports/governance/design-feedback.jsonl
  reports/governance/policy-adaptations.jsonl
  reports/governance/prediction-train.jsonl
  reports/metrics-drift.json
  reports/operations/governance.jsonl
  scripts/quality/feature-matrix-manager.ts
  scripts/quality/orchestrator.ts
  src/application/metrics-drift-detector.ts
  src/application/qa-feedback-manager.ts
  src/core/governance/kernel.ts
  test-results/html.meta.json.gz
  test-results/results.json
  tests/application/qa-feedback-manager.test.ts
Due: typescript-check, eslint-check, env-validation, performance-check

chore: Phase 2B → 2C transition robustness patch
  configs/governance/policy-conflict-map.yml
  reports/governance/design-feedback.jsonl
  reports/operations/governance.jsonl
  src/application/metrics-drift-detector.ts
  src/infrastructure/governance/policy-parser.ts
  test-results/html.meta.json.gz
  test-results/results.json
Due: typescript-check, eslint-check, env-validation, performance-check

chore: Phase 2C preparation - Robustness 4-Axis finalization
  configs/governance/sandbox.config.json
  reports/governance/design-feedback.jsonl
  reports/operations/governance.jsonl
  src/infrastructure/governance/governance-policy-cleaner.ts
  src/infrastructure/governance/policy-parser.ts
  src/infrastructure/governance/sandbox-monitor.ts
  src/infrastructure/metrics/metrics-integrity-ledger.ts
  test-results/html.meta.json.gz
  test-results/results.json
Due: typescript-check, eslint-check, env-validation, performance-check

chore: Phase 2B Final State - Baseline Freeze Preparation
  configs/governance/policy-conflict-map.yml
  configs/quality/feature-matrix.yml
  docs/RFC/2025-10-integration-brief-quality-enhancement.md
  docs/RFC/2025-10-phase2b-step3-plan.md
  governance-rules.yaml
  reports/governance/design-feedback.jsonl
  reports/governance/policy-adaptations.jsonl
  reports/governance/prediction-train.jsonl
  reports/inspection-results.json
  reports/operations/governance.jsonl
  reports/quality-history/health-score-2025-10-08.json
  reports/rg/decision.json
  reports/rg/summary.json
  scripts/quality/orchestrator.ts
  src/application/agents/diversity-planner-service.ts
  src/application/backup/backup-manager.ts
  src/application/backup/restore-manager.ts
  src/application/metrics-drift-detector.ts
  src/application/metrics/metrics-service.ts
  src/application/qa-feedback-manager.ts
  src/core/governance/kernel.ts
  src/domain/agents/diversity-planner.ts
  src/domain/fixes/eslint-fix.ts
  src/infrastructure/governance/governance-policy-cleaner.ts
  src/infrastructure/governance/policy-parser.ts
  src/infrastructure/governance/sandbox-monitor.ts
  src/infrastructure/metrics/file-metrics-adapter.ts
  src/infrastructure/metrics/metrics-integrity-ledger.ts
  test-results/html.meta.json.gz
  test-results/results.json
  tests/application/metrics/metrics-adapter.test.ts
  tests/application/qa-feedback-manager.test.ts
  tests/domain/agents/diversity-planner.test.ts
Due: typescript-check, eslint-check, env-validation, performance-check

feat(phase0-to-1): Adaptive resilience - Living DNA system
  .security-profile.yml
  package.json
  reports/governance/design-feedback.jsonl
  reports/governance/policy-adaptations.jsonl
  reports/governance/prediction-train.jsonl
  reports/operations/governance.jsonl
  reports/phase0-to-phase1-bridge.json
  scripts/governance-recover.ts
  scripts/security-profile.ts
  scripts/verify-sbom.ts
  test-results/html.meta.json.gz
  test-results/results.json
Due: typescript-check, eslint-check, env-validation, docs-consistency
