Repository kyletnet/synthetic-text-agents-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, eslint-check, env-validation, docs-consistency, performance-check

Path conditions:
  typescript-check: any of: \.(ts|tsx)$
  eslint-check: any of: \.(ts|tsx|js|jsx)$
  env-validation: any of: \.(ts|js|json|env)$
  docs-consistency: any of: (CHANGELOG\.md|package\.json|README\.md)$
  performance-check: any of: src/.*\.(ts|js)$

feat(phase0.9): Critical reinforcement - Evolution safeguards
  package.json
  reports/governance/design-feedback.jsonl
  reports/operations/governance.jsonl
  reports/phase0.9-hardening-complete.json
  reports/sbom-baseline.json
  scripts/entropy-monitor.ts
  scripts/governance-recover.ts
  scripts/phase1-preflight.ts
  src/multi-agent-bus/handshake.ts
  test-results/html.meta.json.gz
  test-results/results.json
Due: typescript-check, eslint-check, env-validation, docs-consistency, performance-check

feat(phase1-ready): Predictive correction layer - Evolution intelligence
  .phase1-progress.json
  docs/PHASE1_RESUME_GUIDE.md
  package.json
  reports/governance/design-feedback.jsonl
  reports/operations/governance.jsonl
  scripts/bus-optimizer.ts
  scripts/entropy-predictor.ts
  scripts/gov-daemon.ts
  scripts/phase1-readiness.ts
  test-results/html.meta.json.gz
  test-results/results.json
Due: typescript-check, eslint-check, env-validation, docs-consistency

fix(phase2c): Test suite 완성 - ESM/Registry/Backup/SecretLint (748/748 PASS)
  reports/governance/design-feedback.jsonl
  reports/inspection-results.json
  reports/operations/governance.jsonl
  reports/quality-history/2025-10-08.json
  reports/quality-history/health-score-2025-10-08.json
  src/application/backup/backup-manager.ts
  test-results/html.meta.json.gz
  test-results/results.json
  tests/phase0/secret-lint-validation.test.ts
  tests/unit/backup/backup-strategies.test.ts
  tests/unit/registry.test.ts
Due: typescript-check, eslint-check, env-validation, performance-check

feat(phase1): Multi-Agent Bus Foundation (MBC)
  reports/governance/design-feedback.jsonl
  reports/operations/governance.jsonl
  src/multi-agent-bus/capability-token.ts
  src/multi-agent-bus/fairness-scheduler.ts
  src/multi-agent-bus/handshake.ts
  test-results/html.meta.json.gz
  test-results/results.json
  tests/integration/phase1-mbc.test.ts
Due: typescript-check, eslint-check, env-validation, performance-check

feat(phase1.5): Retrieval Integration - Port/Adapter + Trust/Security
  docs/RFC/2025-10-phase1.5-retrieval-integration.md
  reports/governance/design-feedback.jsonl
  reports/operations/governance.jsonl
  src/domain/ports/retrieval-port.ts
  src/infrastructure/retrieval/bm25-adapter.ts
  src/infrastructure/retrieval/poisoning-guard.ts
  src/infrastructure/retrieval/source-trust.ts
  test-results/html.meta.json.gz
  test-results/results.json
  tests/integration/phase1.5-retrieval.test.ts
Due: typescript-check, eslint-check, env-validation, performance-check

docs: Add session continuity (SESSION_STATE + NEXT_ACTIONS)
  docs/NEXT_ACTIONS.md
  docs/SESSION_STATE.md
Due: none

feat(governance): Connect Retrieval → Governance Loop
  docs/SESSION_STATE.md
  reports/governance/design-feedback.jsonl
  reports/operations/governance.jsonl
  src/application/retrieval-feedback-bridge.ts
  src/infrastructure/retrieval/bm25-adapter.ts
  test-results/html.meta.json.gz
  test-results/results.json
Due: typescript-check, eslint-check, env-validation, performance-check

docs: Add integrated roadmap + multi-tenant architecture
  docs/ARCHITECTURE_MULTI_TENANT.md
  docs/RFC/2025-10-integrated-roadmap-phase1.6-to-2.1.md
Due: none

docs: Update session continuity with integrated roadmap
  docs/CHANGELOG.md
  docs/NEXT_ACTIONS.md
  docs/SESSION_STATE.md
Due: docs-consistency

docs: Roadmap v2 - "Living DNA → Adaptive Ecosystem"
  docs/CHANGELOG.md
  docs/RFC/2025-10-integrated-roadmap-phase1.6-to-2.1.md
  docs/SESSION_STATE.md
Due: docs-consistency

docs: Ecosystem Evolution v3 - "Living Organism → Self-Learning Ecosystem"
  docs/CHANGELOG.md
  docs/RFC/2025-10-integrated-roadmap-phase1.6-to-2.1.md
  docs/RFC/2025-11-adaptive-ecosystem-development-plan.md
  docs/SESSION_STATE.md
Due: docs-consistency

docs: Transparency Evolution v3.1 - "Self-Learning → Self-Explaining Ecosystem"
  docs/CHANGELOG.md
  docs/RFC/2025-10-integrated-roadmap-phase1.6-to-2.1.md
  docs/RFC/2025-11-adaptive-ecosystem-development-plan.md
  docs/RFC/2025-12-transparent-ecosystem-plan.md
  docs/SESSION_STATE.md
Due: docs-consistency

docs: Equilibrium Evolution v3.2 - "Self-Explaining → Self-Trusting Ecosystem"
  docs/CHANGELOG.md
  docs/RFC/2025-13-governance-nervous-system-plan.md
  docs/SESSION_STATE.md
  reports/governance/design-feedback.jsonl
  reports/operations/governance.jsonl
  test-results/html.meta.json.gz
  test-results/results.json
Due: env-validation, docs-consistency

docs: v3.2 Execution Plan - "Features → Outcomes" Strategic Shift
  docs/CHANGELOG.md
  docs/RFC/2025-15-equilibrium-execution-plan.md
  docs/SESSION_STATE.md
Due: docs-consistency

fix: BM25 retrieval test failures - IDF calculation and duration tracking
  docs/CHANGELOG.md
  docs/NEXT_ACTIONS.md
  reports/governance/design-feedback.jsonl
  reports/operations/governance.jsonl
  src/infrastructure/retrieval/bm25-adapter.ts
  src/rag/retrieve.ts
  test-results/html.meta.json.gz
  test-results/results.json
Due: typescript-check, eslint-check, env-validation, docs-consistency, performance-check

docs: v3.2.1 Strategic Enhancement - 3 Genius Reinforcements + Critical Risk Mitigation
  docs/CHANGELOG.md
  docs/NEXT_ACTIONS.md
Due: docs-consistency

feat(trust): P0 - TrustToken Layer (JWT + C2PA signature)
  src/core/trust/index.ts
  src/core/trust/trust-token-generator.ts
  src/core/trust/trust-token-types.ts
  src/core/trust/trust-token-verifier.ts
  tests/core/trust/trust-token.test.ts
Due: typescript-check, eslint-check, env-validation, performance-check

feat(trust): P1 - Unified Evidence Store (audit data consistency)
  src/core/transparency/evidence-store.ts
  src/core/transparency/evidence-types.ts
  src/core/transparency/index.ts
  tests/core/transparency/evidence-store.test.ts
Due: typescript-check, eslint-check, env-validation, performance-check

feat(trust): P2-1 - Telemetry Interpreter (Behavior → Insight conversion)
  src/core/telemetry/index.ts
  src/core/telemetry/telemetry-interpreter.ts
  src/core/telemetry/telemetry-types.ts
  tests/core/telemetry/telemetry-interpreter.test.ts
Due: typescript-check, eslint-check, env-validation, performance-check

feat(trust): P2-2 - Gate E Explanation Stability
  src/core/transparency/explanation-cache.ts
  src/core/transparency/explanation-validator.ts
  src/domain/preflight/gate-e-explanation-stability.ts
  tests/domain/preflight/gate-e.test.ts
Due: typescript-check, eslint-check, env-validation, performance-check

feat(trust): P2-3 - Snapshot Logger for legal audit
  src/core/trust/snapshot-logger.ts
  src/core/trust/snapshot-types.ts
  tests/core/trust/snapshot-logger.test.ts
Due: typescript-check, eslint-check, env-validation, performance-check

feat(priorities-4-5): Gate R + Compliance Engine + Audit Summary Generator
  reports/governance/design-feedback.jsonl
  reports/operations/governance.jsonl
  reports/provenance/temporal/window_2025-10-08T17-54-16-116Z_2025-10-08T18-54-16-116Z.json
  src/application/audit/audit-summary-generator.ts
  src/application/compliance/compliance-engine.ts
  src/domain/preflight/gate-r-regulatory-compliance.ts
  test-results/html.meta.json.gz
  test-results/results.json
Due: typescript-check, eslint-check, env-validation, performance-check

test(option-a): Unit tests for Priority 4-5 (36/36 passing)
  reports/governance/design-feedback.jsonl
  reports/operations/governance.jsonl
  reports/provenance/temporal/window_2025-10-08T18-08-22-609Z_2025-10-08T19-08-22-609Z.json
  test-results/html.meta.json.gz
  test-results/results.json
  tests/unit/audit-summary-generator.test.ts
  tests/unit/compliance-engine.test.ts
  tests/unit/gate-r.test.ts
Due: typescript-check, eslint-check, env-validation

feat(phase-2.7): Gate F & G implementation complete - All gates passing
  NEXT_SESSION_START_HERE.md
  PHASE_2.7_COMPLETE.md
  SESSION_STATE.json
  reports/final-e2e-validation.json
  reports/gate-integrator-report.json
  scripts/ci/gate-integrator.ts
  src/runtime/optimization/gate-f-throughput.ts
  src/runtime/optimization/gate-g-guideline.ts
  src/runtime/orchestrator/complete-e2e-orchestrator.ts
  tests/performance/final-e2e-validation.test.ts
Due: typescript-check, eslint-check, env-validation, performance-check
