Repository kyletnet/synthetic-text-agents-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, eslint-check, env-validation, docs-consistency, performance-check

typescript-check:
  name: TypeScript Type Check
  entry: npm run typecheck
  language: system
  pass_filenames: false
  always_run: false

eslint-check:
  name: ESLint Check
  entry: npm run lint
  language: system
  pass_filenames: false

env-validation:
  name: Environment Variables Check
  entry: bash
  args:
  - -c
  ...

docs-consistency:
  name: Documentation Consistency Check
  entry: bash
  args:
  - -c
  ...

performance-check:
  name: Performance Check
  entry: bash
  args:
  - -c
  ...

fix: resolve GitHub Actions workflow failures completely
  .github/workflows/ci.yml
  .github/workflows/release.yml
  package.json
  test-results/html.meta.json.gz
  test-results/results.json
Due: env-validation, docs-consistency

fix: refine secret scanning and formatting for CI/CD pipeline
  .github/workflows/ci.yml
  CHANGELOG.md
  test-results/assets/index-9agQl9q3.js
  test-results/assets/index-fUmMsp0O.css
  test-results/html.meta.json.gz
  test-results/index.html
  test-results/results.json
Due: eslint-check, env-validation, docs-consistency

fix: resolve Prettier formatting issues and add .prettierignore
  .prettierignore
  CHANGELOG.md
Due: docs-consistency

update test results
  test-results/html.meta.json.gz
  test-results/results.json
Due: env-validation

docs: auto-update system documentation
  SLASH_COMMANDS.md
  SYSTEM_MAP.md
Due: none

fix: correct CircuitBreaker HALF_OPEN state behavior
  src/shared/circuitBreaker.ts
  tests/unit/circuitBreaker.test.ts
Due: typescript-check, eslint-check, env-validation, performance-check

fix: resolve test configuration and execution issues
  tests/integration/health-check.test.ts
  tests/unit/performanceMonitoring.test.ts
  tsconfig.json
  vitest.config.ts
Due: typescript-check, eslint-check, env-validation

refactor: improve code quality and remove unused imports/variables
  src/agents/linguisticsEngineer.ts
  src/core/metaController.ts
  src/core/systemInitializer.ts
  tests/integration/apm-integration.test.ts
Due: typescript-check, eslint-check, env-validation, performance-check

chore: update test results after fixes
  test-results/html.meta.json.gz
  test-results/results.json
Due: env-validation

feat: implement enhanced /ship command with semantic versioning and GitHub releases
  .claude/commands/ship.md
  package.json
  scripts/ship.js
Due: eslint-check, env-validation, docs-consistency

fix: implement runtime guardrails and graceful degradation for LLM failures
  src/agents/qaGenerator.ts
  src/clients/anthropicAdapter.ts
  src/core/orchestrator.ts
  src/core/systemInitializer.ts
  src/shared/circuitBreaker.ts
Due: typescript-check, eslint-check, env-validation, performance-check

fix: convert ship.js to ship.cjs for CommonJS compatibility
  package.json
  scripts/ship.cjs
Due: env-validation, docs-consistency

docs: auto-update system documentation
  SYSTEM_MAP.md
  package.json
  scripts/ship.js
Due: eslint-check, env-validation, docs-consistency

chore: bump version to 1.0.4
  CHANGELOG.md
  apps/fe-web/docs/DECISIONS/INDEX.md
  apps/fe-web/docs/EXPERIMENTS/INDEX.md
  apps/fe-web/docs/RUN_LOGS/INDEX.md
  package.json
  reports/dev_session_report.md
  test-results/html.meta.json.gz
  test-results/results.json
Due: env-validation, docs-consistency

sync: update with latest changes - 🤖 Generated with Claude Code
  .claude/commands/refactor-audit.md
  .last-audit
  package.json
  scripts/audit-trigger.ts
  scripts/refactor-auditor.ts
  scripts/slash-commands.sh
  test-results/html.meta.json.gz
  test-results/results.json
Due: typescript-check, eslint-check, env-validation, docs-consistency

feat: implement Smart Hybrid Refactor System with automated fixes and guided confirmations
  .claude/commands/refactor-audit.md
  .claude/commands/refactor-confirm.md
  .claude/commands/refactor-next.md
  .claude/commands/refactor-summary.md
  package.json
  scripts/refactor-auditor.ts
  scripts/safety-analyzer.ts
  scripts/smart-refactor-auditor.ts
  scripts/smart-refactor-state.ts
  test-results/html.meta.json.gz
  test-results/results.json
Due: typescript-check, eslint-check, env-validation, docs-consistency

fix(ci): modernize release workflow and fix deprecated GitHub Actions
  .github/workflows/release.yml
Due: none

fix(tests): make APM integration tests more resilient for CI environments
  tests/integration/apm-integration.test.ts
Due: typescript-check, eslint-check, env-validation

sync: update with latest changes
  .refactor/state.json
  test-results/html.meta.json.gz
  test-results/results.json
Due: env-validation

sync: update test results
  test-results/html.meta.json.gz
  test-results/results.json
Due: env-validation

chore: implement release workflow guard and commit conventions
  .github/workflows/release.yml
  docs/COMMIT_CONVENTIONS.md
  test-results/html.meta.json.gz
  test-results/results.json
Due: env-validation

sync: update test results after release workflow guard implementation
  test-results/html.meta.json.gz
  test-results/results.json
Due: env-validation

fix: resolve prettier formatting in commit conventions doc
  docs/COMMIT_CONVENTIONS.md
Due: none

sync: update test results after CI pipeline fixes
  test-results/html.meta.json.gz
  test-results/results.json
Due: env-validation

sync: update with latest changes - 🤖 Generated with Claude Code
  test-results/html.meta.json.gz
  test-results/results.json
Due: env-validation

docs: auto-update system documentation
  SLASH_COMMANDS.md
  SYSTEM_MAP.md
  docs/SYSTEM_DOCS/README.md
  docs/SYSTEM_DOCS/development/DEVELOPER_REFERENCE.md
  docs/SYSTEM_DOCS/modules/README.md
  docs/SYSTEM_DOCS/operations/DEPLOYMENT_GUIDE.md
  package.json
  scripts/ai-fix-engine.ts
  scripts/command-optimizer.ts
  scripts/docs/doc-gate.ts
  scripts/docs/doc-linter.ts
  scripts/docs/doc-quality-auditor.ts
  scripts/docs/llm-signal-injector.ts
  scripts/install-git-hooks.sh
  scripts/refactor-advisor.ts
  scripts/slash-commands.sh
  scripts/smart-status.ts
  scripts/ts-compile-checker.ts
Due: typescript-check, eslint-check, env-validation, docs-consistency

docs: auto-update system documentation
  SYSTEM_MAP.md
  package.json
  scripts/slash-commands.sh
  scripts/sync-health-reporter.ts
Due: typescript-check, eslint-check, env-validation, docs-consistency

fix: update GitHub Actions script references - 🤖 Generated with Claude Code
  .github/workflows/ci.yml
Due: none

fix: format remaining files for CI compliance - 🤖 Generated with Claude Code
  .system-backups/design-transition-1758771517026-of9sm8/scripts/system-integration-analyzer.ts
  scripts/system-integration-analyzer.ts
  test-results/html.meta.json.gz
  test-results/results.json
Due: typescript-check, eslint-check, env-validation

feat: implement comprehensive /status with full audit integration - 🤖 Generated with Claude Code
  package.json
  reports/security-audit.json
  reports/system-integration-analysis.json
  scripts/unified-dashboard.ts
  test-results/html.meta.json.gz
  test-results/results.json
Due: typescript-check, eslint-check, env-validation, docs-consistency

feat: Phase 6 complete - Self-Healing, Auto-Detection, Circuit Breaker
  apps/fe-web/app/api/execution-transparency/route.ts
  apps/fe-web/app/api/system/heal/route.ts
  apps/fe-web/app/api/system/health/route.ts
  apps/fe-web/docs/RFC/2024-12-llm-governance-system.md
  apps/fe-web/docs/RFC/2025-09-self-healing-governance.md
  apps/fe-web/lib/anthropic-client.ts
  apps/fe-web/lib/api-guard.ts
  apps/fe-web/lib/api-key-manager.ts
  apps/fe-web/lib/auto-detection-engine.ts
  apps/fe-web/lib/background-task-manager.ts
  apps/fe-web/lib/circuit-breaker.ts
  apps/fe-web/lib/execution-tracer.ts
  apps/fe-web/lib/llm-execution-authority.ts
  apps/fe-web/lib/process-overload-protection.ts
  apps/fe-web/lib/self-healing-engine.ts
  apps/fe-web/lib/universal-llm-guard.ts
  apps/fe-web/middleware.ts
  apps/fe-web/scripts/dev-environment-manager.ts
  apps/fe-web/scripts/dev-server-manager.sh
  apps/fe-web/scripts/heal-system.ts
  apps/fe-web/scripts/health-check.ts
  apps/fe-web/scripts/restore-env.sh
  apps/fe-web/scripts/test-phase6.ts
  apps/fe-web/scripts/test-self-healing-failure.ts
  docs/DEVELOPMENT_STANDARDS.md
  scripts/lib/simplified-approval-system.ts
  scripts/refactor-auditor.ts
  scripts/smart-maintenance-orchestrator.ts
Due: typescript-check, eslint-check, env-validation

Path conditions:
  typescript-check: any of: \.(ts|tsx)$
  eslint-check: any of: \.(ts|tsx|js|jsx)$
  env-validation: any of: \.(ts|js|json|env)$
  docs-consistency: any of: (CHANGELOG\.md|package\.json|README\.md)$
  performance-check: any of: src/.*\.(ts|js)$
