Repository kyletnet/synthetic-text-agents-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, eslint-check, env-validation, docs-consistency, performance-check

Path conditions:
  typescript-check: any of: \.(ts|tsx)$
  eslint-check: any of: \.(ts|tsx|js|jsx)$
  env-validation: any of: \.(ts|js|json|env)$
  docs-consistency: any of: (CHANGELOG\.md|package\.json|README\.md)$
  performance-check: any of: src/.*\.(ts|js)$

feat: P0-C/D complete - Design Validator + Pre-commit enforcement
  .husky/pre-commit
  package.json
  scripts/design-validator.ts
Due: typescript-check, eslint-check, env-validation, docs-consistency

fix: enforce design principles with ProcessLifecycleManager and TTY detection - 🤖 Generated with Claude Code
  apps/fe-web/app/api/run/eval/route.ts
  apps/fe-web/app/api/run/qa/route.ts
  apps/fe-web/app/api/run/route.ts
  apps/fe-web/scripts/dev-environment-manager.ts
  package.json
  reports/hub-routing-metrics.json
  scripts/design-validator.ts
  scripts/interactive-approval-handler.ts
  scripts/lib/adaptive-execution-engine.ts
  scripts/lib/interactive-approval-system.ts
  scripts/lib/process-lifecycle-manager.ts
Due: typescript-check, eslint-check, env-validation, docs-consistency

fix: resolve all 39 TypeScript errors and normalize CI workflows - 🤖 Generated with Claude Code
  .github/workflows/ci.yml
  .github/workflows/doc-quality-gate.yml
  .husky/commit-msg
  package.json
  reports/doc-gate-report.json
  reports/hub-routing-metrics.json
  scripts/architectural-evolution-engine.ts
  scripts/docs/doc-gate-ci.ts
  scripts/dry-run-approval-queue.ts
  scripts/lib/adaptive-execution-engine.ts
  scripts/lib/advanced-system-diagnostics.ts
  scripts/lib/auto-fix-manager.ts
  scripts/lib/core-system-hub.ts
  scripts/lib/externalized-decision-matrix.ts
  scripts/lib/integrated-maintenance-orchestrator.ts
  scripts/lib/smart-decision-matrix.ts
  scripts/lib/system-integration-orchestrator.ts
  scripts/smart-refactor-auditor.ts
  src/scripts/lib/export_enhanced_cli.ts
  src/scripts/lib/session_report_validator.ts
  src/scripts/metrics/baselineReportGenerator.ts
  src/scripts/metrics/piiLicenseScan.ts
Due: typescript-check, eslint-check, env-validation, docs-consistency, performance-check

feat: add ci:quality script and complete /maintain + /ship workflow
  .refactor/state.json
  apps/fe-web/docs/DECISIONS/INDEX.md
  apps/fe-web/docs/EXPERIMENTS/INDEX.md
  apps/fe-web/docs/RUN_LOGS/INDEX.md
  package.json
  reports/.cache/typescript-check.json
  reports/.fix-sessions/fix-1759208204496.json
  reports/.fix-sessions/latest.json
  reports/communication-sessions.json
  reports/component-registry.json
  reports/comprehensive-doc-update-report.json
  reports/evolution-history.json
  reports/evolution-report.json
  reports/hub-routing-metrics.json
  reports/improvement-queue.json
  reports/maintain-report.md
  reports/maintenance-schedule.json
  reports/maintenance-sessions.json
  reports/security-audit.json
  reports/self-designing-system-status.json
  reports/status-v4-comprehensive.json
  reports/system-integration-report.md
  reports/unified-system-report.json
  reports/user-communication.json
  test-results/html.meta.json.gz
  test-results/results.json
Due: env-validation, docs-consistency

feat: P1 완전 분리 - 문서 스크립트 4개 + ship 최적화
  package.json
  reports/doc-audit-report.json
  reports/doc-gate-report.json
  reports/doc-lint-report.json
  reports/doc-signals-report.json
  reports/hub-routing-metrics.json
  scripts/docs/doc-audit.ts
  scripts/docs/doc-gate-ci.ts
  scripts/docs/doc-linter.ts
  scripts/docs/doc-signals-validator.ts
  test-results/html.meta.json.gz
  test-results/results.json
Due: typescript-check, eslint-check, env-validation, docs-consistency

fix: P0 근본 수정 - CI 실패 설계적 원인 해결
  reports/hub-routing-metrics.json
  scripts/docs/doc-signals-validator.ts
  test-results/html.meta.json.gz
  test-results/results.json
  tests/next-integration/health-check.test.ts
  vitest.config.ts
Due: typescript-check, eslint-check, env-validation

chore: 유지보수 결과물 및 출력 개선
  .refactor/state.json
  apps/fe-web/docs/DECISIONS/INDEX.md
  apps/fe-web/docs/EXPERIMENTS/INDEX.md
  apps/fe-web/docs/RUN_LOGS/INDEX.md
  reports/.cache/typescript-check.json
  reports/.fix-sessions/fix-1758766961229.json
  reports/.fix-sessions/fix-1758766961229.json.gz
  reports/.fix-sessions/fix-1758774255035.json
  reports/.fix-sessions/fix-1758774255035.json.gz
  reports/.fix-sessions/fix-1758785240327.json
  reports/.fix-sessions/fix-1758785240327.json.gz
  reports/.fix-sessions/fix-1758786495086.json
  reports/.fix-sessions/fix-1758786495086.json.gz
  reports/.fix-sessions/fix-1758872670659.json
  reports/.fix-sessions/fix-1758872670659.json.gz
  reports/.fix-sessions/latest.json
  reports/communication-sessions.json
  reports/component-registry.json
  reports/comprehensive-doc-update-report.json
  reports/evolution-history.json
  reports/evolution-report.json
  reports/hub-routing-metrics.json
  reports/improvement-queue.json
  reports/maintain-report.md
  reports/maintenance-schedule.json
  reports/maintenance-sessions.json
  reports/security-audit.json
  reports/self-designing-system-status.json
  reports/status-v4-comprehensive.json
  reports/system-integration-report.md
  reports/unified-system-report.json
  reports/user-communication.json
  scripts/smart-maintenance-orchestrator.ts
  test-results/html.meta.json.gz
  test-results/results.json
Due: typescript-check, eslint-check, env-validation

fix: Claude Code 환경에서 /maintain 승인 메커니즘 작동하도록 수정
  scripts/lib/simplified-approval-system.ts
  scripts/test-readline-approval.ts
Due: typescript-check, eslint-check, env-validation

test: /maintain 승인 메커니즘 회귀 방지 테스트 추가
  reports/.cache/typescript-check.json
  reports/security-audit.json
  test-results/html.meta.json.gz
  test-results/results.json
  tests/integration/maintain-approval.test.ts
Due: typescript-check, eslint-check, env-validation

docs: /maintain Claude Code 지원 RFC 문서 작성
  docs/RFC/2025-09-maintain-approval-claudecode-fix.md
Due: none

fix(P0): Claude Code 승인 시스템 + 자동수정 활성화
  docs/RFC/2025-09-maintain-approval-claudecode-fix.md
  scripts/lib/simplified-approval-system.ts
  scripts/smart-maintenance-orchestrator.ts
  scripts/test-readline-approval.ts
  tests/integration/maintain-approval.test.ts
Due: typescript-check, eslint-check, env-validation

feat: /fix 명령어 구현 + 명령어 체계 재정의
  CLAUDE.md
  docs/COMMAND_GUIDE.md
  package.json
  scripts/fix-orchestrator.ts
Due: typescript-check, eslint-check, env-validation, docs-consistency

feat: /fix 올인원 명령어 완성 - 워크플로우 단순화
  .refactor/state.json
  .wip-backups/agent_decision_tracer.ts
  .wip-backups/artifact_lifecycle_manager.ts
  .wip-backups/emergency_undo_stack.ts
  .wip-backups/simple_logger.ts
  CLAUDE.md
  apps/fe-web/docs/DECISIONS/INDEX.md
  apps/fe-web/docs/EXPERIMENTS/INDEX.md
  apps/fe-web/docs/RUN_LOGS/INDEX.md
  docs/COMMAND_GUIDE.md
  reports/.cache/typescript-check.json
  reports/.fix-sessions/fix-1759220085737.json
  reports/.fix-sessions/latest.json
  reports/communication-sessions.json
  reports/component-registry.json
  reports/comprehensive-doc-update-report.json
  reports/evolution-history.json
  reports/evolution-report.json
  reports/improvement-queue.json
  reports/maintain-report.md
  reports/maintenance-schedule.json
  reports/maintenance-sessions.json
  reports/security-audit.json
  reports/self-designing-system-status.json
  reports/status-v4-comprehensive.json
  reports/system-integration-report.md
  reports/unified-system-report.json
  reports/user-communication.json
  scripts/fix-orchestrator.ts
  test-results/html.meta.json.gz
  test-results/results.json
Due: typescript-check, eslint-check, env-validation

feat: 4단계 워크플로우 확립 - 명확한 책임 분리
  CLAUDE.md
  docs/COMMAND_GUIDE.md
  package.json
  reports/.cache/typescript-check.json
  scripts/fix-orchestrator.ts
  test-results/html.meta.json.gz
  test-results/results.json
Due: typescript-check, eslint-check, env-validation, docs-consistency

fix(ci): GitHub Actions 문서 품질 게이트 JSON 경로 수정
  .github/workflows/doc-quality-gate.yml
  test-results/html.meta.json.gz
  test-results/results.json
Due: env-validation

fix(ci): CI/CD Pipeline 실패 원인 수정 - coverage 패키지 추가
  package-lock.json
  package.json
Due: env-validation, docs-consistency

fix(ci): 커버리지 임계값을 현실적 수준으로 조정 (Phase 1)
  vitest.config.ts
Due: typescript-check, eslint-check, env-validation

style: prettier 포맷 적용 (vitest.config.ts)
  vitest.config.ts
Due: typescript-check, eslint-check, env-validation

feat: Phase 12 - /ship 명령어 강화 및 중복 제거
  package.json
  reports/inspection-results.json
  reports/operations/governance.jsonl
  reports/snapshots/snapshot-2025-10-01T05-49-15-611Z.json
  reports/snapshots/snapshot-2025-10-01T05-49-34-824Z.json
  test-results/html.meta.json.gz
  test-results/results.json
Due: env-validation, docs-consistency

docs: Phase 12 완료 - 다음 세션 핸드오프 문서
  SESSION_HANDOFF_PHASE12.md
Due: none

docs: /fix 슬래시 명령어 문서 추가
  .claude/commands/fix.md
Due: none

fix: 4단계 워크플로우 설계 개선 - TTL 증가 및 진행률 표시 추가
  .claude/commands/fix.md
  package.json
  reports/inspection-results.json
  reports/operations/governance.jsonl
  reports/snapshots/snapshot-2025-10-01T06-54-08-536Z.json
  reports/snapshots/snapshot-2025-10-01T06-54-43-992Z.json
  reports/snapshots/snapshot-2025-10-01T07-00-02-147Z.json
  reports/snapshots/snapshot-2025-10-01T07-00-29-829Z.json
  reports/snapshots/snapshot-2025-10-01T07-44-10-359Z.json
  reports/snapshots/snapshot-2025-10-01T07-44-28-591Z.json
  reports/snapshots/snapshot-2025-10-01T07-49-14-490Z.json
  reports/snapshots/snapshot-2025-10-01T07-49-30-125Z.json
  reports/snapshots/snapshot-2025-10-01T07-54-51-418Z.json
  reports/snapshots/snapshot-2025-10-01T07-56-25-400Z.json
  reports/snapshots/snapshot-2025-10-01T08-05-36-774Z.json
  reports/snapshots/snapshot-2025-10-01T08-05-37-034Z.json
  scripts/fix-engine.ts
  scripts/lib/inspection-cache.ts
  scripts/ship-with-progress.sh
  test-results/html.meta.json.gz
  test-results/results.json
Due: typescript-check, eslint-check, env-validation, docs-consistency

chore: 테스트 결과 업데이트
  test-results/html.meta.json.gz
  test-results/results.json
Due: env-validation

fix: Prettier 포맷팅 수정 (CI/CD 오류 해결)
  scripts/fix-engine.ts
  test-results/html.meta.json.gz
  test-results/results.json
Due: typescript-check, eslint-check, env-validation

docs: Phase 13 변경사항 문서 업데이트
  .claude/commands/fix.md
  .claude/commands/ship.md
  docs/COMMAND_GUIDE.md
  docs/COMMAND_WORKFLOW_GUIDE.md
Due: none

feat: Initialize GAP Prevention System + Fix P0 Gaps
  .gapignore
  .gaprc.json
  governance-rules.json
  package.json
  reports/inspection-results.json
  reports/operations/governance.jsonl
  reports/snapshots/snapshot-2025-10-01T08-30-34-886Z.json
  reports/snapshots/snapshot-2025-10-01T08-30-53-070Z.json
  src/shared/logger.ts
  test-results/html.meta.json.gz
  test-results/results.json
Due: typescript-check, eslint-check, env-validation, docs-consistency, performance-check

feat: Implement GAP Scanner core (6 checks functional)
  reports/gap-scan-results.json
  scripts/gap-scanner.ts
  test-results/html.meta.json.gz
  test-results/results.json
Due: typescript-check, eslint-check, env-validation

docs: Add GAP Scanner guide and document lifecycle manager
  docs/GAP_SCANNER_GUIDE.md
  scripts/doc-lifecycle-manager.ts
Due: typescript-check, eslint-check, env-validation

fix: Fix P0 PII masking gap + Document GAP/Doc lifecycle commands
  docs/COMMAND_GUIDE.md
  package.json
  reports/gap-scan-results.json
  src/shared/logger.ts
  test-results/html.meta.json.gz
  test-results/results.json
Due: typescript-check, eslint-check, env-validation, docs-consistency, performance-check

feat: Integrate GAP Scanner into pre-commit hook (Shadow Mode)
  docs/GAP_SCANNER_GUIDE.md
  scripts/git-hooks/pre-commit
  scripts/install-git-hooks.sh
Due: none

test: Add E2E and lifecycle tests (P1 gap resolution)
  tests/doc-lifecycle-manager.test.ts
  tests/integration/agent-chain-e2e.test.ts
Due: typescript-check, eslint-check, env-validation

docs: Complete CLI documentation and cross-references (0 gaps achieved)
  docs/COMMAND_GUIDE.md
  docs/GAP_SCANNER_GUIDE.md
Due: none

fix(governance): Add withTimeout pattern for timer cleanup (P0 hang fix)
  scripts/lib/governance/safe-executor.ts
Due: typescript-check, eslint-check, env-validation

feat(governance): Integrate governance into all CLI scripts (GAP #1, #2, #3)
  .gaprc.json
  scripts/design-validator.ts
  scripts/gap-scanner.ts
  scripts/lib/governance/governed-script.ts
  scripts/validate-engine.ts
Due: typescript-check, eslint-check, env-validation

feat(quality): Contrastive embedding 기반 Evidence-Answer 정렬 시스템 구현
  docs/SHIP_COMPLETION_CHECKLIST.md
  evaluation_sample_100.json
  evaluation_sample_proper.json
  qa_sample_100.json
  reports/baseline_report.jsonl
  reports/baseline_report.jsonl.before-contrastive
  reports/baseline_report.md.before-contrastive
  reports/inspection-results.json
  reports/operations/governance.jsonl
  reports/session_report.md
  scripts/lib/contrastive-alignment.ts
  scripts/metrics/__all__.ts
  scripts/metrics/evidence_quality.ts
  scripts/test-contrastive.ts
  test-results/html.meta.json.gz
  test-results/results.json
Due: typescript-check, eslint-check, env-validation
